.content-2 {
  width: 100%;
  background-color: rgb(29, 29, 29);
}
.content-2-container {
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
  width: 100%;
  position: relative;
}

.content-2-img img {
  height: 500px;
  width: 100%;
}

.content-2-img {
  left: -20px;
  top: 100px;
  position: absolute;
}
.cloud {
  filter: brightness(0.8);
  height: 400px;
  backdrop-filter: screen;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 0;
}

.content-2-title {
  padding-left: 370px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.content-2-title h1 {
  color: white;
  font-size: 150px;
  font-family: "Protest Strike", sans-serif;
}
.content-2-title h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding-inline: 10px;
  background-color: rgb(150, 130, 105);
}

@media screen and (max-width: 1099px) and (min-width: 1009px) {
  .content-2-title h1 {
    font-size: 120px;
  }
  .content-2-title h4 {
    font-size: 30px;
  }
  .content-2-img img {
    height: 400px;
  }
  .content-2-img {
    top: 140px;
    left: -50px;
  }
}

@media screen and (max-width: 1008px) and (min-width: 700px) {
  .content-2-title h1 {
    font-size: 100px;
  }
  .content-2-img {
    left: 80px;
  }
  .content-2-img img {
    height: 500px;
  }
  .content-2-title {
    padding-left: 0px;
    text-align: center;
    z-index: 2;
  }
}

@media screen and (max-width: 699px) and (min-width: 599px) {
  .content-2-title {
    padding-left: 200px;
  }
  .content-2-title h1 {
    font-size: 80px;
  }
  .content-2-img img {
    height: 200px;
  }
  .content-2-img {
    top: 230px;
    left: -10px;
  }
}

@media screen and (max-width: 598px) {
  .content-2-title {
    padding-left: 0px;
    text-align: center;
    z-index: 2;
  }
  .content-2-title h4 {
    font-size: 15px;
  }
  .content-2-title h1 {
    font-size: 65px;
  }
}
