@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.content-3-container {
  height: 100%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shoes-container {
  place-content: center;
  width: 100%;
  height: 80%;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.shoe-grid {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 2fr 1fr;
}

.shoe-brand,
.shoe-img {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Protest Strike", sans-serif;
}
.shoe-img img {
  height: 100%;
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: contain;
}

.shoe-name {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
.shoe-name h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(109, 96, 46);
  font-family: "Montserrat", sans-serif;
  font-size: 70px;
  font-weight: 900;
}
.shoe-color {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.shoe-color h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Protest Strike", sans-serif;
}

.color-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-hue {
  height: 50%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.colors {
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.colors:nth-child(1) {
  border: solid 1px black;
  background-color: rgb(253, 42, 77);
}

.colors:nth-child(2) {
  border: solid 1px black;
}

.colors:nth-child(3) {
  border: solid 1px black;
  background-color: yellowgreen;
}

.shoe-grid:nth-child(2) .colors:nth-child(1) {
  background-color: grey;
}

.shoe-grid:nth-child(2) .colors:nth-child(3) {
  background-color: black;
}

@media screen and (max-width: 799px) {
  .shoes-container {
    grid-template-columns: 1fr;
    grid-template-rows: 500px 500px;
    height: 100%;
  }
}
